@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
    font-family: "Munro";
    src: url("font/Munro.ttf");
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: #071213;
    background-image: url("/assets/img/css-BG-tile1.png");
    font-family: "Source Sans Pro", sans-serif;
    color: #E8E6E6;
}

#title {
    margin: auto;
}

#content {
    margin-left: 1em;
}

#game-content {
    text-align: center;
}

form, #accountData {
    font-size: 1.2em;

    margin-bottom: 0;
}

form > label {
    display: inline-block;
    width: 5.5em;
}

nav {
    background-color: #31385A;
    padding: .8em 0 .8em 1em;

    width: calc(100% - 1em);
}

.navlink, #userSpan {
    display: inline;
    margin-right: 2em;
}

#userSpan {
    font-style: italic;
    color: #ccc;
}

.shipImg {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
               rotate(-90deg);
}

.shipContainer {
    background-color: #E8E6E6;
    border: solid 3px black;
    border-radius: 3px;
    width: 64px;
    height: 64px;
}

.shipBullet {
    text-transform: capitalize;
}

.ship {
    background-color: #31385A;
    padding: 1em;
    border-radius: 3px;
    margin-top: 1em;

    width: calc(100% - 3em);
}

a {
    text-decoration: none;
    color: #E0C99F;
}

a:hover {
    color: #fff;
}

#game-canvas {
    display: block;
    margin: auto;
}

.canvas-container {
    font-family: Munro, sans-serif;
    display: inline-block;
    position: relative;
    margin-top: 1em;
    border: 2px solid gray;
}

.canvas-overlay {
    position: absolute;
    display: inline-flex;
    font-size: 18px;
}

.fade-in {
    -webkit-animation: fadeIn .2s forwards linear;
    animation: fadeIn .2s forwards linear;
}

/**
 * LOBBY OVERLAY
 */
.lobby-overlay {
    width: 100%;
    height: 100%;

    top: 0%;
    left: 0%;

    background-color: #2F3435;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lobby-overlay-left, .lobby-overlay-right {
    height: 100%;
    top: 0%;

    display: inline-block;
    padding: 1em;

    box-sizing: border-box;
    text-align: left;

    transition: width .3s;
}

.lobby-overlay-left {
    width: 40%;
    left: 0%;
}

.lobby-overlay-right {
    width: 60%;
    left: 50%;
}

.lobby-overlay-button-container, .lobby-overlay-room-list {
    width: 100%;
    transition: height .3s;
}

.lobby-overlay-button-container {
    height: 20%;
}

.lobby-overlay-room-list {
    text-align: left;
    height: 80%;
}

.lobby-overlay-button-container-min {
    height: 0%;
}

.lobby-overlay-room-list-max {
    height: 100%;
}

.lobby-overlay-room {
    transition: background-color 0.1s;
    margin: 0.25em 0;
}

.lobby-overlay-room:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.lobby-overlay-play-btn {
    bottom: 0%;
    right: 0%;

    position: absolute;
    margin: 1em;
}

/**
 * CREATE ROOM OVERLAY
 */
.create-room-overlay {
    width: 100%;
    height: 100%;
    
    left: 0%;
    top: 0%;
    
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
}

.create-room-overlay-input {
    width: 60%;
    height: 5%;
    
    left: 50%;
    top: 50%;
    
    position: absolute;
    transform: translate(-50%, -50%);
}

.create-room-overlay-button-container {
    left: 50%;
    top: 65%;
    
    position: absolute;
    transform: translate(-50%, -50%);
}

.create-room-overlay-button-container > button {
    margin: 0 1em;
}

/**
 * LOADING OVERLAY
 */
.loading-overlay {
    font-size: 5px;
    border-top: 1em solid #555;
    border-right: 1em solid #555;
    border-bottom: 1em solid #555;
    border-left: 1em solid #fff;
    -webkit-animation: loadcircle 1s infinite linear;
    animation: loadcircle 1s infinite linear;
    box-sizing: border-box;

    bottom: 10px;
    right: 10px;
}
.loading-overlay,
.loading-overlay:after {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
@-webkit-keyframes loadcircle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loadcircle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
