extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/normalize.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/game") Game
    .navlink
      a(href="/logout") Log Out
    span#userSpan Logged in as 
      span#userName #{owner}
  div#game-content
    span(class="canvas-container")
      canvas#game-canvas(width="640" height="480")
    section#score
      form#scoreForm(class="scoreForm", name="scoreForm", action="/score", method="POST")
        input(type="hidden", name="_csrf", value="#{csrfToken}")
block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/assets/lib/preloadjs-0.6.1.min.js")
    script(src="/assets/lib/soundjs-0.6.1.min.js")
    script(src="/assets/lib/wfl.js")
    script(src="/assets/game/dist/game.js")